<table style="background-color:#f1f1f1; width:100%;" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" style="vertical-align:top; padding:30px 0; text-align:center">
        <table style="text-align:left; width:680px; margin:0 auto; font-size:14px; border-spacing:0px">
          <tbody>
            <tr>
              <td bgcolor="#fff" style="padding: 15px;">
                <font color="#777" style="font-size:18px">%email.title%</font>
              </td>
            </tr>
            <tr>
              <td height="25"></td>
            </tr>
            <tr>
              <td bgcolor="#fff" style="padding: 15px;">

                Пользователь
                <b>%email.nameuser%</b> оставил следующее сообщение:
                <br> %email.message%
                <hr> Email пользователя:
                <b>%email.emailuser%</b><br>
                <hr>Телефон пользователя: 
                <b>%email.phone%</b>
                <br> Дата отправки:
                <b>%email.date%</b>
                <hr>
                Файлы:
                %email.attachments%
              </td>
            </tr>
            <tr>
              <td height="25"></td>
            </tr>
            <tr>
              <td bgcolor="#fff " style="padding: 20px 15px; color: #777; font-size: 14px;">
                <p>&copy; 2020 Мой сайт.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>